<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ass_v</title>
</head>
<body>
    <nav>
        <ul>
           <!-- remember to input that if user conditional statement -->
           <li><a href="/post">post</a></li>
           <li><a href="/contentId">search post</a></li>
           <li><a href="/update">update post</a></li>
           <li><a href="/delete">delete post</a></li>
           <li><a href="/logout">log out</a></li>
        </ul>
    </nav>
